{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
     <title>{% block title%}{% endblock %}</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     
     <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{% static 'myscript.js' %}"></script>
    <script src="{% static 'datepair.js' %}"></script>
    
    <script src="{% static 'show_date_data.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery.timepicker.css' %}">
    <script src="{% static 'jquery.timepicker.js' %}"></script>
    <link  rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block script %}{% endblock %}
  </head>
  <body>
  <div class="header">
    <ul class="nav">
       {% if not user.is_authenticated %}
            <li><a href="/"><b>登陆</b></a></li>
       {% else %}
          <li><a href="/"><b>首页</b></a></li>
          <li><a href="/show/info"><b>航班信息</b></a></li>
          <li><a href="/show/probe"><b>探针</b></a></li>
          <li><a href="/kml"><b>模拟</b></a></li>
          
          <li><b class='user'>{{user.username}}</b></li>
          <li><a href="/accounts/logout/"><b>登出</b></a></li>
          <li>
          <div class='search'>
			<form action='/search' method="get">
			<input type="search" name="ident" placeholder="航班"/>
			{% csrf_token %}
			</form>
		  </div>
		  </li>
     	{% endif %}
	</ul>
</div>

  <div class="content">
  	{% block content %}{% endblock %}
  </div>
  
  <div class="footer">
    {% block footer %}
    {% endblock%}
  </div>
  </body>
<html>
