{% extends "index.html" %}
{% block title %}登录{% endblock %}
{% block content %}
  <div id="login">
   <div id="login_title">
     <div id="brand">
   		<h3>欢迎登录NATP系统</h3>
     </div>
   </div>
   <div id="login_content">
   	<div id="login_content_main">
   	<div class="errors">
    {% if errors %}
    <ul>
      {% for error in errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    </div>
   	<form action="/accounts/login/" method="post">{% csrf_token %}
   	 <table class="center">
   	 	<tr>
   	 	 <th class="lable">用户名:</th>
   	 	 <td><input type="text" name="username"/></td>
   	 	</tr>
   	 	<tr>
   	 	 <th class="label">密码:</th>
   	 	 <td><input type="password" name="password"/></td>
   	 	</tr>
   	 	<tr id="login_button">
   	 	 <th></th>
   	 	 <td><input type="submit" value="登录"/></td>
   	 	</tr>
   	  </table>
   	 </form>
   	</div>
   </div>
  </div>
{% endblock %}