{% extends "index.html" %}
{% block title %}查询探针{% endblock%}
{% block content%}
<div class="content">
  {% if errors %}
     <ul>
       {% for error in errors %}
       <li>{{error}}</li>
       {% endfor %}
     </ul>
  {% endif %}
  <h3>查询探针</h3>
  <form method="post" action="">
       {% csrf_token %}
     <p>探针名：<input type="text" name="pbname">
         省份：<input type="text" name="prov">
         GPS：<input type="text" name="gps">
         <input type="submit" name="Submit" value="Search"></p>
  </form>
</div>
{% endblock %}