{% extends "base.html"%}
{% block title %}探针{{probe_name}}{% endblock %}
{% block content %}
<div class="all">
  <div class="show_info">
    <div class="show_info_title">探针{{probe_name}}</div>
    <div class="show_info_table">
      <div class="show_info_nav">
      <div class="show_info_page">
        <span class="first">
          <a href="?prname={{probe_name}}&page=1">首页</a>
        </span>
        {% if page_idents.has_previous %}
        <span class="pre">
          <a href="?prname={{probe_name}}&page={{page_idents.previous_page_number}}">上一页</a>
        </span>
        {% endif %}
        <span class="curent">第{{page_idents.number}}页/共{{page_idents.paginator.num_pages}}页</span>
        {% if page_idents.has_next %}
        <span class="next">
          <a href="?prname={{probe_name}}&page={{page_idents.next_page_number}}">下一页</a>
        </span>
        {% endif %}
        <span class="last">
          <a href="?prname={{probe_name}}&page={{page_idents.paginator.num_pages}}">尾页</a>
        </span>
       </div>
        <form action="" method="get">
          <input type="hidden" name="prname" value="{{probe_name}}">
          <input type="text" name="page" class="page_text">
          <input type="submit" value="Go" class="go"></form>
      </div>

      <div class="show_info_content">
        {% if page_idents %}
        <table class="info_result">
          <tr>
            <th class="info_label">飞机航班</th>
            <th class="info_label">水平速度</th>
            <th class="info_label">方向</th>
            <th class="info_label">垂直速度</th>
            <th class="info_label">更新时间</th>
            <th class="info_label">探针</th>
          </tr>
          {% for i in page_idents %}
          {% if i.detail %}
          <tr class="info_result_tr">
            <td class="data_table_f">
              <a href="/show/all?ident={{i.id}}&page=1">{{i.ident}}</a>
            </td>
            <td class="data_table_f">{{i.detail.speed}}</td>
            <td class="data_table_f">{{i.detail.heading}}</td>
            <td class="data_table_f">{{i.detail.vertical}}</td>
            <td class="data_table_f">{{i.detail.seen | date:'Y-m-d H:i:s'}}</td>
            <td class="data_table_f">
            <a href="/search/probe?prname={{i.detail.probe.probe_name}}">{{i.detail.probe.probe_name}}</td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}